on init
    # Shims
    export LD_SHIM_LIBS /system/lib/libril.so|libril_shim.so:/system/lib/libcrypto.so|libboringssl-compat.so

service_redefine ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket rild-cas stream 660 casdrm mmb
    user root
    group radio cache inet misc audio readproc log wakelock qcom_diag system drmrpc vpn shell sdcard_r sdcard_rw
